body {
  margin: 0;
  width: 100vw;
  font-family: 'Arial', sans-serif;
  background-color: #A23C20;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the entire viewport height is filled */
  background-color: #A23C20;
  width: 100vw;
}

main {
  flex: 1; /* This makes the main content take up available space */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100vw; /* Ensures content spans the full width */
  background-color: #A23C20;
}

footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100vw;
}
