/* Latest Blog Section Container */
.latest-blog-section-container {
  background-color: #a23c20;
  text-align: center;
}

.latest-blog-section-content {
  margin: 0 auto;
}

.latest-blog-heading {
  font-size: clamp(2.4rem, 4vw, 3.5rem);
  color: #f9f9f9;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  margin: 3rem 0;
}

/* Grid for all screens */
.latest-blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  margin: 0 2rem 3rem;
}

/* Responsive tweak for smaller screens */
@media (max-width: 600px) {
  .latest-blog-grid {
    gap: 1.15rem;
    margin: 0 0.6rem 2rem 0.6rem;
    grid-template-columns: 1fr;
  }
}
